.slide-container {
  overflow: hidden;

  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.slide-overlay {
  position: absolute;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.4);

  p {
    max-width: 600px;

    padding-left: 32px;

    border-left: 6px solid #de6c64;
    color: white;
    font-size: 4rem;
  }
}

.img-slide {
  object-fit: cover;

  width: 100vw;
  max-width: 100%;
  height: 100vh;

  animation: zoomIn 8s ease;
}

.fade-in {
  animation: fadeInAnimation 1s ease-in-out;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
