header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 120px;

  height: 80px;
  z-index: 10;

  a {
    margin-left: 32px;

    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      color: rgba($color: #000000, $alpha: 0.5);
    }
  }

  img {
    height: 50px;
    cursor: pointer;
  }
}

.darkLinks {
  a {
    color: #000;

    &:hover {
      color: rgba($color: #000000, $alpha: 0.8);
    }
  }
}

.headerDark {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
